/* Section Styling */
.become-driver {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
  width: 96vw;
  height: 67vh;
  padding: 5rem 3rem;
  background: linear-gradient(43.28deg, #543986 17.81%, #f7944d 85.69%);
  overflow: hidden;
  border-radius: 30px;
  gap: 3rem;
  z-index: 1;
}

.driver-content {
  flex: 1;
  max-width: 480px;
  color: black; 
  position: relative;
  z-index: 2;
}

.driver-title {
  font-size: 2.4rem;
  font-weight: bolder;
  color: white; /* Bright Orange */
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
  position: relative;
}

.driver-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 60px;
  height: 5px;
  background: linear-gradient(90deg, #FF6F00, #1976D2); 
  border-radius: 5px;
}

.driver-description {
  font-size: 1rem;
  color: white; 
  margin-bottom: 1.5rem;
}

.driver-buttons {
  display: flex;
  gap: 1rem;
}

.driver-button {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  font-size: 0.8rem;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.driver-button.primary {
  color: #ffffff;
  background: #f7944d ; 
  box-shadow: 0 5px 15px rgba(255, 152, 0, 0.4);
}

.driver-button.primary:hover {
  background: #543986;
  transform: scale(1.05);
}

.driver-button.secondary {
  color: #FF6F00; /* Orange */
  border: 2px solid #FF6F00;
  background: transparent;
  transition: all 0.3s ease;
}

.driver-button.secondary:hover {
  background: #ffffff;
  color: #FF6F00; 
}

/* Graphic Container */
.driver-graphic-container {
  flex: 1.3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.graphic-wrapper {
  position: relative;
  width: 80%;
  height: 80%;
  overflow: hidden;

}

.driver-graphic {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.4s ease;
}

.driver-graphic:hover {
  transform: scale(1.1);
}


/* Animations for Shapes */
@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20px, 20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes move2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-20px, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .become-driver {
    flex-direction: column;
    padding: 3rem 1rem;
  }

  .driver-content {
    text-align: center;
  }

  .driver-buttons {
    justify-content: center;
  }

  .driver-graphic-container {
    margin-top: 2rem;
  }
}
