.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo-link {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

.logo-link:hover {
  color: #FFEB3B
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.nav {
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: #F5F5F5; 
  gap: 120px;
  position: fixed;
  z-index: 5;
  width: 100%;
}

.nav-link {
  color: black;
  padding: 5px 12px;
  font-size: 16px;
  font-weight: bolder;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #00BCD4;
}

.comsats-logo {
  width: 80px;
  height: 80px;
  margin-top: 2px;
  margin-bottom: 5px;
  padding: 5px;
  transition: transform 0.3s ease;
}

.comsats-logo:hover {
  transform: rotate(360deg);
}





