/* Header Styling */
.header {
  background: white; /* Orange and Blue gradient */
  color: black;
  text-align: center;
  /*border-radius: 50% 50% 0 0;*/ /* Rounded bottom edges */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
  position: relative;
  z-index: 1;
  overflow: visible; /* Ensure no content gets cut off */
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  border-radius: 60px 60px 60px 60px;
  margin: 0 auto;
  padding: 0 20px;
 
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo-link {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

.logo-link:hover {
  color: #FFEB3B; /* Gold accent for hover effect */
}

.nav {
  display: flex;
  justify-content:center;
}

.nav-link {
  color: black;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #00BCD4; /* Light blue hover effect */
}

.comsats-logo {
  width: 80px;
  height: 80px;
  margin-top: 2px;
  margin-bottom: 5px;
  padding: 5px;
  transition: transform 0.3s ease;
}

.comsats-logo:hover {
  transform: rotate(360deg);
}
